<!doctype html>
<html>

<title>Upload new File</title>

<h1>Upload new File</h1>

<form action="/upload" method="post" enctype="multipart/form-data">
  <span>CSV File:</span>
  <input type="file" name="csv_file"/>
  <span>Conf File:</span>
  <input type="file" name="conf_file"/>
  <input type="submit" value="Upload"/>
</form>

<h3>Files on server:</h3>


<form action="/run" method="post" enctype="multipart/form-data">
<h4>conf</h4>
{% for conf_path in list_confs() %}
<input type="radio" name="conf_path" id="option1" value="{{ conf_path }}"> {{ conf_path }} </input><br>
{% endfor %}
<h4>csv</h4>
{% for csv_path in list_csvs() %}
<input type="radio" name="csv_path" id="option2" value="{{ csv_path }}"> {{ csv_path }} </input><br>
{% endfor %}
<input type="submit" value="RUUUUNNN"/>
</form>

<h1>BASRDOK</h1>

<form class="box" method="post" action="" enctype="multipart/form-data">
  <div class="box__input">
    <input class="box__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
    <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
    <button class="box__button" type="submit">Upload</button>
  </div>
  <div class="box__uploading">Uploading&hellip;</div>
  <div class="box__success">Done!</div>
  <div class="box__error">Error! <span></span>.</div>
</form>

<h1>INTOOR</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
  Select conf and csv files: <input type="file" name="confandcsv" multiple>
  <input type="submit">
</form>

<h1>RESULTS</h1>

<ul>
{% for file_name, status in list_results_and_status() %}
    <li><a href="/results/{{ file_name }}/">{{ file_name }}:</a></li>
    <ul>

        {% if status['index'] %}
            <li><a  href="/results/{{ file_name }}/index.html">index.html</a></li>
        {% endif %}

        {% if status['log'] %}
            <li><a  href="/results/{{ file_name }}/log.log">log</a></li>
        {% endif %}

        {% if status['errors'] %}
            <li><a  href="/results/{{ file_name }}/errors.log">errors</a></li>
        {% endif %}

    <!-- debug only
    {% for key in status %}
        <li>{{ key }} : {{ status[key] }}</li> 
    {% endfor %}
    --!>
    </ul>

{% endfor %}
</ul>


<h3>Last run errors:</h3>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</html>

<style>



.double {
  zoom: 2;
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

</style>


<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>

